<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285709959137-6qk7nl81coatc7pqee9vujfu540kbla8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285709959137-6qk7nl81coatc7pqee9vujfu540kbla8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285709959137-1o2ql9bld00bfhum6kc32ii05v6v9ne6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFZXdIFO4cjOU96HBCiC5B80SEJi3LHNc</string>
	<key>GCM_SENDER_ID</key>
	<string>285709959137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoTest</string>
	<key>PROJECT_ID</key>
	<string>eleosgym</string>
	<key>STORAGE_BUCKET</key>
	<string>eleosgym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285709959137:ios:2f9b2dd70ad001f8371ca0</string>
</dict>
</plist>